.middleGrid {
    position: relative;
    width: 692px;
    height: 479px;
}

.middleGrid .img1,
.img2 {
    position: absolute;
    top: 24px;
    left: 25px;
}

.middleGrid .img3,
.img4 {
    position: absolute;
    top: 59px;
    left: 26px;
}

.middleGrid .img5,
.img6 {
    position: absolute;
    top: 162px;
    left: 23px;
}

.middleGrid .img7,
.img8 {
    position: absolute;
    top: 194px;
    left: 22px;
}

.middleGrid .img9,
.img10 {
    position: absolute;
    top: 227px;
    left: 23px;
}

.middleGrid .img11,
.img12 {
    position: absolute;
    top: 257px;
    left: 23px;
}

.middleGrid .img13,
.img14 {
    position: absolute;
    top: 13px;
    right: 33px;
}

.middleGrid .img15,
.img16 {
    position: absolute;
    top: 46px;
    right: 32px;
}

.middleGrid .img17,
.img18 {
    position: absolute;
    bottom: 107px;
    right: 72px;
}

.middleGrid .img19,
.img20 {
    position: absolute;
    bottom: 72px;
    right: 72px;

}

.middleGrid .imgOnLight {
    position: absolute;
    top: 121px;
    right: 0px;
}

.middleGrid .imgOffLight {
    position: absolute;
    top: 121px;
    right: -1px;
}