.middleGrid {
    position: relative;
    width: 692px;
    height: 479px;
}

.middleGrid .img1,
.img2 {
    position: absolute;
    top: 36px;
    left: 26px;
}

.middleGrid .img3,
.img4 {
    position: absolute;
    top: 68px;
    left: 26px;
}

.middleGrid .img5,
.img6 {
    position: absolute;
    top: 175px;
    left: 23px;
}

.middleGrid .img7,
.img8 {
    position: absolute;
    top: 208px;
    left: 22px;
}

.middleGrid .img9,
.img10 {
    position: absolute;
    top: 240px;
    left: 23px;
}

.middleGrid .img11,
.img12 {
    position: absolute;
    top: 270px;
    left: 23px;
}

.middleGrid .img13,
.img14 {
    position: absolute;
    top: 25px;
    right: 39px;
}

.middleGrid .img15,
.img16 {
    position: absolute;
    top: 57px;
    right: 39px;
}

.middleGrid .img17,
.img18 {
    position: absolute;
    bottom: 114px;
    right: 78px;
}

.middleGrid .img19,
.img20 {
    position: absolute;
    bottom: 81px;
    right: 78px;

}